body { 
	font-family: 'Helvetica Neue', Helvetica; 
	font-weight: 300; 
	padding: 20px;
	width: 100vw;
	height: 100vh;
}
th { 
text-align: left; 
}
th, td { 
  	padding: 0 1em 0.5ex 0;
}
text {
	font-family: sans-serif;
 }
.charttitle {
	font-size: 20px;
}
.legendtitle{
	font-size: 15px;
}
.legendlabel{
	font-size: 6px;
}

/*SVG Styling*/
.viscontainer {
	width: 100%;
	height: 100%;
}
svg {
	height: 90%;
	width : 90%;
	border: 1px solid grey;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #bfbfbf;
  stroke-width: .5px;
}

.country{
	stroke: #bfbfbf;
	stroke-width: .5px;
}